<div class="text-danger" *ngIf="opponent === clientId">The opponent can not have the same id as yours</div>
<form *ngIf="!globals.isWaiting">
  <label for="choose-player" class="col-sm-2">Please choose your opponent (ID):</label>
  <input class="col-sm-1" type="text" name="choosePlayer" id="choose-player" [(ngModel)]="opponent" class="choose-player" required>
  <br>
  <br>
  <button class="offset-sm-1 col-sm-2 send-request" (click)="sendRequest(opponent)" [disabled]="!isValid()">Send Request</button>
</form>